@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700&display=swap");
:root {
  /* theme 1 */
  --main-background-color-1: rgb(244, 246, 248);
  --jobcard-background-color-1: rgb(255, 255, 255);
  --text-color-1: #000000;
  --company-site-button-1: rgb(147, 155, 244);

  /* theme 2 */
  --main-background-color-2: rgb(18, 23, 33);
  --jobcard-background-color-2: rgb(25, 32, 45);
  --text-color-2: rgb(255, 255, 255);
  --company-site-button-2: rgb(110, 128, 152);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-image: url("./assets/desktop/bg-pattern-header.svg");
  background-repeat: no-repeat;
  /* background-size: 100% 400px; */
  position: relative;
  height: 160px;
}

body {
  background-color: rgba(244, 246, 248, 1);
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: Kumbh Sans;
  line-height: 25px;
}

.slider {
  display: none;
}

.label {
  width: 30px;
  height: 15px;
  cursor: pointer;
  display: inline-block;
  background: #fff;
  border-radius: 50px;
  position: relative;
}

/* styling the general button */
.btn {
  background-color: rgba(89, 100, 224, 1);
  color: white;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(147, 155, 244, 1);
}

/* creating the ball */
.ball {
  background-color: blue;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  /* this doesnt really do anything */
  align-items: center;
  justify-content: center;
  animation: slideOff 0.3s linear forwards;
}

.ball:hover {
  background-color: rgba(147, 155, 244, 1);
}

.slider:checked + .label > .ball {
  animation: slideOn 0.3s linear forwards;
}
/* creating an animation for the ball to move back and forwards */
@keyframes slideOn {
  /* I just change the value of the x-coordinate */
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(7.5px) scale(1.2); /*one quarter of the parent container width */
  }
  100% {
    transform: translateX(15px) scale(1); /*half the parent container width*/
  }
}

@keyframes slideOff {
  /* I just change the value of the x-coordinate */
  0% {
    transform: translateX(15px) scale(1);
  }
  50% {
    transform: translateX(7.5px) scale(1.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
.outer-wrapper {
  display: flex;
}

.top-most {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 80%;
  margin-left: 10%;
}

.logo {
  width: 10%;
  margin-top: 40px;
  /* margin-left: 120 px; */
  cursor: pointer;
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* styling the form */
.form {
  display: flex;
  height: 50px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  border-radius: 5px;
  width: 80%;
  position: absolute;
  top: 80%;
  left: 10%;
  font-family: Kumbh Sans;
  font-weight: 600;
}

.form > div {
  display: flex;
  gap: 5px;
  border: none;
  align-items: center;
  justify-content: center;
}

.form > div > input,
label,
button {
  border: none;
  border: 0;
  /* this makes a checkbox invisible */
  /* appearance: none; */
}

.wrapper {
  height: 100%;
  width: 70%;
  /* padding: 10px; */
  border: 5px solid red;
}

.wrapper:nth-child(1) {
  margin-left: 20px;
}

.wrapper:nth-child(3) {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
/* this for the inputs */

.wrapper > input[type="text"] {
  outline: none;
  width: 100%;
  height: 100%;
  border-right: 0.1px solid rgb(110, 128, 152);
  padding-right: 5px;
}

.time-span {
  border: none;
  accent-color: rgba(89, 100, 224, 1); /*changes the color of ......*/
}

/* hiding the span between the checkbox and its label */
.spacer {
  visibility: none;
}

.checkbox-label {
  margin-right: 60px;
}
/* 
.filter-1 {
  outline: none;
} */

/* styling the section */
.jobs {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  align-items: center;
  justify-items: space-between;
  margin-left: 10%;
  column-gap: 20px;
  row-gap: 30px;
}

.job {
  background-color: white;
  /* border: 2px solid rgb(233, 228, 228); */
  width: 100%;
  /* height: 150px; */
  padding: 10px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}

.job:hover {
  width: 102%;
  height: 105%;
}

.job_logo {
  background-color: "hsl(36, 87%, 49%)";
  border-radius: 7px;
  padding: 8px;
  width: 38px;
  height: 35px;
  position: absolute;
  top: -10%;
}

.postage-time {
  margin-top: 12px;
  color: rgba(151, 151, 151, 1);
}

.job-name {
  margin-top: 5px;
}

.company-name {
  margin-top: 5px;
  color: rgba(151, 151, 151, 1);
}

.country-name {
  margin-top: 15px;
  color: rgba(89, 100, 224, 1);
}

.btn-load {
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  /* width: 100%; */
  align-items: center;
  justify-content: center;
  margin-left: 46%;
}

.not-visible {
  display: none;
}

.page-footer {
  background-image: url("./assets/desktop/bg-pattern-detail-footer.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 150px;
  margin-top: 20px;
}

/* styles for the job page */
.upper-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  position: absolute;
  top: 90%;
  left: 10%;
}

.logo-img {
  background-color: hsl(36, 87%, 49%);
  height: 60px;
  width: 55px;
  padding: 10px;
}

.site-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  height: 60px;
  padding: 20px;
}

.website-btn {
  background-color: ;
}

.job-info {
  margin-top: 65px;
  background-color: white;
  width: 80%;
  margin-left: 10%;
  padding: 20px;
}

.role {
  display: flex;
  justify-content: space-between;
  /* width: 80%; */
  background-color: white;
  align-items: center;
}

.job-description {
  margin-top: 10px;
}

.requirements {
  margin-top: 10px;
  margin-bottom: 10px;
}

.below-requirements {
  margin-bottom: 10px;
}

.list-of-requirements {
  padding: 10px 20px;
}

.footer {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 80%;
  margin-top: 20px;
  margin-left: 10%;
  margin-bottom: 40px;
}

/* changing the bulet color */
ul li {
  color: rgba(89, 100, 224, 1);
}

li > span {
  color: black;
  margin-left: 15px;
}

ol li {
  color: rgba(89, 100, 224, 1);
}

.things-to-do {
  padding: 10px 20px;
}

.forfont-color {
  /* color: rgba(110, 128, 152, 1); */
}

.page-footer {
  color: #fff;
  position: relative;
}

.footer-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-container > h4 {
  text-align: center;
}

.icons-wrapper {
  margin-top: 20px;
  display: flex;
  gap: 40px;
}
.icons-wrapper > img {
  /* margin-left: 40px; */
  cursor: pointer;
}
.icons-wrapper:nth-child(1) {
  margin-left: 0;
}

/* styling the pop up */
.pop-up {
  height: 25px;
  width: 250px;
  background-color: lightcoral;
  line-height: 20px;
  border: 2px solid black;
  border-radius: 3px;
  position: absolute;
  top: 95px;
  left: 150px;
  color: #000;
}
