.upper-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  position: absolute;
  top: 90%;
  left: 10%;
}

.logo-img {
  background-color: hsl(36, 87%, 49%);
  height: 60px;
  width: 55px;
  padding: 10px;
}

.site-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  height: 60px;
  padding: 20px;
}

.job-info {
  margin-top: 65px;
  background-color: white;
  width: 80%;
  margin-left: 10%;
  padding: 20px;
}

.role {
  display: flex;
  justify-content: space-between;
  /* width: 80%; */
  background-color: white;
  align-items: center;
}

.job-description {
  margin-top: 10px;
}

.requirements {
  margin-top: 10px;
  margin-bottom: 10px;
}

.below-requirements {
  margin-bottom: 10px;
}

.list-of-requirements {
  padding: 10px 20px;
}

.footer {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 80%;
  margin-top: 20px;
  margin-left: 10%;
}

/* changing the bulet color */
ul li {
  color: rgba(89, 100, 224, 1);
}

li > span {
  color: black;
  margin-left: 15px;
}

ol li {
  color: rgba(89, 100, 224, 1);
}

.things-to-do {
  padding: 10px 20px;
}

.forfont-color {
  color: rgba(110, 128, 152, 1);
}
